<ol class="breadcrumb">
  <li class="breadcrumb-item" id="breadcrumb-menu-home">
    <a href="{{ site.url }}">Home</a>
  </li>

  {% assign url_parts = page.url | split: '/' %}
  {% assign url_path = '' %}

  {% for url_part in url_parts %}
    {% assign cleansed_url_part = url_part | strip %} 
    {% if cleansed_url_part != "" %}
      {% assign url_path = url_path | append: '/' | append: cleansed_url_part %}
      <li class="breadcrumb-item" id="breadcrumb-menu-{{ sanitized_url_part }}">
        <a href="{{ site.url }}{{ url_path }}">{{ cleansed_url_part | replace: '_', ' ' | replace: '-', ' ' | capitalize }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ol>
