<footer>
    <div class="container">
        <div
            class="row d-flex justify-content-around border border-light border-bottom-0 border-left-0 border-right-0 pt-5 pb-2 mt-5">
            <div class="col col-md-4 text-center ">
                <a href="https://ncas.ac.uk/"><img src="{{site.baseurl}}/static/ncas_logo_transparent_blacktext.png"></a>
            </div>
            <div class="col-md-4">
                <p class="text-center small">
                    Copyright © 2018 <a href="http://www.stfc.ac.uk">STFC</a>
                    All Rights Reserved<br>
                    <a href="https://help.ceda.ac.uk/article/4641-accessibility">Accessibility</a> |
                    <a href="https://help.ceda.ac.uk/article/4642-disclaimer">Disclaimer</a> |
                    <a href="https://help.ceda.ac.uk/article/4639-privacy-and-cookies">Privacy and Cookies</a><br />
                    <a href="{{site.baseurl}}/about/">About</a>
                </p>
            </div>
            <div class="col col-md-4 text-center">
                <a href="https://www.nceo.ac.uk/"><img src="{{site.baseurl}}/static/nceologo200.png" ></a>
            </div>
        </div>
    </div>
</footer>
