<footer>
    <div class="container">
        <div
            class="row d-flex justify-content-around border border-light border-bottom-0 border-left-0 border-right-0 pt-5 pb-2 mt-5">
            <div class="col col-md-4 text-center ">
                <a href="http://www.ncas.ac.uk" title="NCAS"><img
                        src="https://artefacts.ceda.ac.uk/themes/orgtheme_ceda_serv/0.2/_assets/img/ncas_logo_transparent_blacktext.png"
                        title="NCAS logo" alt="NCAS logo"></a>
            </div>
            <div class="col-md-4">
                <p class="text-center small">
                    Copyright © 2018 <a href="http://www.stfc.ac.uk">STFC</a>
                    All Rights Reserved<br>
                    <a href="http://www.ceda.ac.uk/accessibility" target="_blank">Accessibility</a> |
                    <a href="http://www.ceda.ac.uk/disclaimer" target="_blank">Disclaimer</a> |
                    <a href="http://www.ceda.ac.uk/privacy-and-cookies/" target="_blank">Privacy and Cookies</a><br />
                    <a href="http://www.ceda.ac.uk" target="_blank">CEDA</a>
                </p>
            </div>
            <div class="col col-md-4 text-center">
                <a href="http://www.nceo.ac.uk" title="STFC"><img
                        src="https://artefacts.ceda.ac.uk/themes/orgtheme_ceda_serv/0.2/_assets/img/nceologo200.png"
                        title="NCEO logo" alt="NCEO logo"></a>
            </div>
        </div>
    </div>
</footer>