<footer>
    <div class="container">
        <div
            class="row d-flex justify-content-around border border-light border-bottom-0 border-left-0 border-right-0 pt-5 pb-2 mt-5">
            <div class="col col-md-4 text-center ">

            </div>
            <div class="col-md-4">
                <p class="text-center small">
                    <a href="http://www.ceda.ac.uk/accessibility">Accessibility</a> |
                    <a href="http://www.ceda.ac.uk/disclaimer">Disclaimer</a> |
                    <a href="http://www.ceda.ac.uk/privacy-and-cookies/">Privacy and Cookies</a><br />
                    <a href="{{site.baseurl}}/about.html">About</a>
                </p>
            </div>
            <div class="col col-md-4 text-center">

            </div>
        </div>
    </div>
</footer>