<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">


  <head>
        <meta charset="utf-8">
        <title> {{page.title | default: "CEDA Archive"}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/blog/feeds/rss/">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="/blog/feeds/atom/">

            <!-- Bootstrap Core
            CSS -->
            <link rel="stylesheet" href="https://artefacts.ceda.ac.uk/themes/orgtheme_ceda_serv/0.2/4/flatly/bootstrap.css" media="screen">
            <!-- Custom CSS -->
            <link rel="stylesheet" href="https://artefacts.ceda.ac.uk/themes/orgtheme_ceda_serv/0.2/_assets/css/custom.min.css">
            <link rel="stylesheet" href="https://artefacts.ceda.ac.uk/themes/orgtheme_ceda_serv/0.2/_assets/css/org-custom.css">

            <!-- Custom Fonts -->
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
 
    <script type="text/javascript">!function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});</script>
    <script type="text/javascript">window.Beacon('init', '0151e3db-1a06-48d6-a030-d1c605683be9')</script>
    
  </head>

  <body>
   

{% include navbar.html %}

  <!-- main content container -->
  <div class="container">
        
    <div class="row">
        <div class="col-md-12">
            {{ content }}
        </div>
    </div>
  </div>
  
{% include footer.html %}
    
  <script src="https://artefacts.ceda.ac.uk/themes/orgtheme/0.1/_vendor/jquery/dist/jquery.min.js"></script>
  <script src="https://artefacts.ceda.ac.uk/themes/orgtheme/0.1/_vendor/popper.js/dist/umd/popper.min.js"></script>
  <script src="https://artefacts.ceda.ac.uk/themes/orgtheme/0.1/_vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="https://artefacts.ceda.ac.uk/themes/orgtheme/0.1/_assets/js/custom.js"></script>

  </body>
</html>




